
* {
    margin: 0;
    padding: 0;
  }

/* ladding page */
.container_principal {
    
    height: 100%;
    background-color: #88bfcf;


}

.container_la {
    padding: 2rem 1rem;
    width: 98%;
    margin: auto;
    background-color: white;
    height: 600px;
    

}



.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.navbar .logo {
    height: 80px;
    width: 80px;
}
.navbar .logo img {
    height: 100%;
    width: 100%;
}

ul li {
    list-style: none;
    margin-right: 3rem;
 
}
ul a{
    text-decoration: none;
    color: #B9B7BD;

}
ul a:hover {
    transition: all .2s ease-out;
    color: brown;

}
.navbar-nav {
    display: flex;
    justify-content: right;
    
}

.lading {
    
    display: flex;
    height: 500px;

} 


.image {
    flex: 2;
    width: 100%;
    background: url('./public/images/lading.png') no-repeat center;
    background-size: cover;
    
}

.text {
    font-family: 'Times New Roman', serif;
    flex: 1;
    margin-top: 4rem;
    height: calc(100% - 300px);
    padding: 2rem 0 0 1rem;
}
.text h2 {
    
    font-size: 3rem;
    font-weight: 800;
}
.text P, .text .btn {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    font-size:larger;
}
.text a {
    text-decoration: none;
    cursor: pointer;
    color: white;
    height: 40px;
    font-size: 1.2rem;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    background-color: brown;
}
.text a:hover {
    transition: all .2s ease-out;
    background-color: #fff;
    border: 1px solid brown;
    color: brown;
}



@media (max-width: 700px) {
    .container_principal {
        height:    100%;
    }
    .lading {
        flex-direction: row-reverse;
        flex-direction: column;
        height: 1000px;
        
    }
    .image {
        
        flex: 1;
    }
    .text {
       height: 300px;
    }
}