@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
*{
    margin: 0;
    box-sizing: 0;
    font-family: "Poppins", sans-serif;
}
body {
    background: #dfe9f5;
}
input, select {
    background: #dfe9f5;
}

.input_red {
    border: 3px solid crimson;
}
.input_red:focus {
    border: 2px solid black;
}
.star {
    font-size: 1.5rem;
    color: crimson;
}

.container {
    background: #fff;
    width: 70%;
    margin: auto;
    font-size: 1.5rem;
    margin-top: 10rem;
    margin-bottom: 5rem;
    border-radius: 5px;
    padding: .5rem 2rem;
}

.container input, select{
    height: 2rem;
    margin: .4rem;
    width: 300px;
    border-color: 4px solid #B9B7BD;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 5px;
    color: #444444;

}
.container input {
    padding: .6rem;

}
select {
    height: 50px;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

fieldset {
    padding: 3rem;
    margin-top: 2rem;
}
#btn {
    text-align: left;
    height: 3rem;
    width: 100%;
    margin: auto;
    margin-top: 1rem;
    background-color: tomato;
    margin-bottom: 20px;
    text-align: center;
    color: wheat;
    font-weight: 600;
    border-radius: 5px;
    font-size: 1.5rem;
}
header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    background-color: #B9B7BD;
    font-size: 2rem;
    padding: 2rem;
}
header .logo_inscription {
    display: flex;
    align-items: center;
    color: crimson;
}
header img{
    height: 50px;
    width: 50px;
}


.operation_operator {
    margin-top: 2rem;
}

p, label {
    font: 1rem 'Fira Sans', sans-serif;
}
.operation {
    margin-left: 3rem;
}



.link_connexion {
    margin-top: 1rem;
    margin-bottom: 2rem;
    text-align:  right;
}



.form-group {
    display: flex;
    align-items: center; 
    justify-content: space-between;
}


footer {
    padding:  3rem;
    background-color: #EEEDE7;
    
}

#pos_inscription_location, #Visibility {
    height:  20px;
    width: 30px;
}

/* .inputElements {
    border-color: blue;
} */

/* 
input.validity+span:after {
    position: absolute; content: '✖';
    padding-left: 5px;
    color: #8b0000;
  }
  
  input.validity:valid+span:after {
    position: absolute;
    content: '✓';
    padding-left: 5px;
    color: #009000;
  } */


  .check_mdp{
    display: none;
  }
  .check_mdp.in_correct{
    display: block;
    color: crimson;
    font-style: italic;
    text-align: right;
  }

 select.green_border input.green_border {
    border-color: green;
}

.input_red {
    border: 3px solid red;
}
.green {
    border: 3px solid green;
}