*{
    margin: 0;
    box-sizing: 0;
}


.container {
    width: 50%;
    margin: auto;
    font-size: 1.5rem;
    margin-top: 2rem;
}

.container input, select{
    height: 1.5rem;
    margin: .4rem;

}

fieldset {
    margin-top: 2rem;
}
#btn {
    text-align: left;
    height: 3rem;
    width: 100%;
    margin: auto;
    margin-top: 1rem;
    background-color: aqua;
    margin-bottom: 20px;
    text-align: center;
    color: crimson;
    border-radius: 5px;
    font-size: 1.5rem;
}
header{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    background-color: aqua;
    font-size: 2rem;
}



.operation_operator {
    margin-top: 2rem;
}

p,label {
    font: 1rem 'Fira Sans', sans-serif;
}
.operation {
    margin-left: 3rem;
}



.link_connexion {
    margin-top: 1rem;
    margin-bottom: 2rem;
    text-align:  right;
}

.form-group {
    display: flex;
    align-items: center; 
    justify-content: space-between;
}


footer {
    padding:  3rem;
    background-color: #EEEDE7;
    
}